/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Sb Table 1;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #0894d8;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #0894d8;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #0894d8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #0894d8;
	max-id: 5;
	border-spacing-y: 21;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 4px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #0598dc;
	color: #ffffff;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	background-color: #d9d9d9;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-Sb_Table_1
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #0894d8;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #0894d8;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #0894d8;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0894d8;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 21px;
}

.TableStyle-Sb_Table_1-Column-Column1
{
	
}

.TableStyle-Sb_Table_1-Head-Header1
{
	
}

.TableStyle-Sb_Table_1-HeadI-Column1-Header1
{
	color: #ffffff;
	background-color: #0598dc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Sb_Table_1-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #0598dc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 4px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_1-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Sb_Table_1-HeadF-Column1-Header1
{
	color: #ffffff;
	background-color: #0598dc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 4px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_1-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Sb_Table_1-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #0598dc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Sb_Table_1-HeadD-Column1-Header1
{
	color: #ffffff;
	background-color: #0598dc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 4px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_1-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Sb_Table_1-HeadC-Column1-Header1
{
	color: #ffffff;
	background-color: #0598dc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Sb_Table_1-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #0598dc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Sb_Table_1-HeadA-Column1-Header1
{
	color: #ffffff;
	background-color: #0598dc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Sb_Table_1-HeadG-Column1-Header1
{
	color: #ffffff;
	background-color: #0598dc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-Sb_Table_1-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_1-FootI-Column1- p
{
	
}

.TableStyle-Sb_Table_1-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_1-FootE-Column1- p
{
	
}

.TableStyle-Sb_Table_1-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_1-FootF-Column1- p
{
	
}

.TableStyle-Sb_Table_1-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_1-FootH-Column1- p
{
	
}

.TableStyle-Sb_Table_1-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_1-FootD-Column1- p
{
	
}

.TableStyle-Sb_Table_1-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_1-FootC-Column1- p
{
	
}

.TableStyle-Sb_Table_1-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_1-FootB-Column1- p
{
	
}

.TableStyle-Sb_Table_1-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_1-FootA-Column1- p
{
	
}

.TableStyle-Sb_Table_1-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_1-FootG-Column1- p
{
	
}

.TableStyle-Sb_Table_1-Body-Body1
{
	
}

.TableStyle-Sb_Table_1-BodyI-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_1-BodyE-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_1-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_1-BodyF-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_1-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_1-BodyH-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_1-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_1-BodyD-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_1-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_1-BodyC-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_1-BodyB-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_1-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_1-BodyA-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_1-BodyG-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_1-Body-Body2
{
	
}

.TableStyle-Sb_Table_1-BodyI-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_1-BodyE-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_1-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_1-BodyF-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_1-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_1-BodyH-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_1-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_1-BodyD-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_1-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_1-BodyC-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_1-BodyB-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_1-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_1-BodyA-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_1-BodyG-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_1-BodyG-Column1-Body2 p
{
	
}


